extends layout

block content
  div(class='page-header')
    h1 BinPub.com 
      small will be a secure https internet voting API service.

  .span4
    img(src='images/binpub.png')
  .span7
    p BinPub.com is building a secure server API system to guarantee the privacy and integrity of internet voting.
                p  BinPub.com aims to serve <a href ="/">YSenate.org</a> users in a completely auditable and trustworthy manner and maintain user privacy. The service aims to be free for 'modest' use. Binpub.com aims to exist, and reward investors, by charging a small fee for 'heavy' use. Heavy use may including access to aggregate statistical targeting information, but never uniquely identifying vote information.
    div(class='alert alert-info') 
      strong Interested?
      |  BinPub.com is not yet incorporated, and seeks legally qualified 'sophisticated' investors only. 
      small (Patent Pending #13/604,544)



