extends layout

block content
  div(class='page-header')
    h1 Primary color voting 
      small produces a spectrum of political types.
  .span4    
      img(src='images/spectrum.jpg')
  .span7  
    p.lead Primary color voting is based on symbolizing the additive primary colors:
      <span class="label label-red">red</span>, <span class="label label-green">green</span>, and <span class="label label-blue">blue</span>.
    p.lead Commonly,
      <span class="label label-red">red</span> state is conservative,
      <span class="label label-blue">blue</span> state is liberal, leaving
      <span class="label label-green">green</span> to the third party.

    p.lead Personalized colors are used by the information engine to help organize people into <a href= "/trees">trees.</a> See additional <a href ="/buttons">Vote Button Design Prototypes</a>

  img(src='images/blueDown.png')
  img(src='images/redUp.png')
    
