extends layout

block content
    h2 Primary color voting produces a spectrum of political types.
    section#small_left_col
      img(src='images/spectrum.jpg')
    section#large_right_col
          section.css-table
            section.four-column
              section.cell
                p Primary color voting is based on symbolizing the additive primary colors: <font color='FF0000'> red</font>, <font color='00ff00'>green</font>, and <font color = '0000ff'>blue</font>. 
              section.cell
                p Commonly, <font color='FF0000'> red state is conservative</font>,<font color = '0000ff'> blue state is liberal</font>, leaving <font color='00ff00'>green</font> to the <font color='00ff00'>third party</font>. 
              section.cell
                p As people vote and their opinions get voted on, the subtle combination of primary colors will determine a person's distinct personalized poltical color, e.g. someone in-between <font color = '0000ff'>liberalism</font> and <font color='00ff00'>a third party</font> with some negativity could be <font color='00dcdc'>?? ? ??</font>.
              section.cell
                p So YSenate is ideologically agnostic. Radical, moderate, liberal, or conservative you will be welcome. If you stay positive and make bright statements; your color will be bright. Negativity or stupidity may bring in some darkness, i.e. if you say something nasty or give someone a down vote, your color becomes a shade darker...
              section.cell
                p Personalized colors are used by the information engine to help organize people into <a href= "/trees">trees.</a> See additional <a href ="/buttons">Vote Button Design Prototypes</a>
    section#small_left_col
      img(src='images/blueDown.png')
      img(src='images/redUp.png')
    