extends layout

block content
  div(class='page-header')
    h1 Primary color voting 
      small produces a spectrum of political types.
  .span4    
      img(src='images/spectrum.jpg')
  .span7  
    p Primary color voting is based on symbolizing the additive primary colors:
      <span class="label label-important">red</span>, <span class="label label-success">green</span>, and <span class="label label-info">blue</span>.
    p Commonly,
      <span class="label label-important">red</span> state is conservative,
      <span class="label label-info">blue</span> state is liberal, leaving
      <span class="label label-success">green</span> to the third party.

    p Personalized colors are used by the information engine to help organize people into <a href= "/trees">trees.</a> See additional <a href ="/buttons">Vote Button Design Prototypes</a>
    section#small_left_col
      img(src='images/blueDown.png')
      img(src='images/redUp.png')
    
