extends layout

block content

  div(class='page-header')
    h1 GitLaw is a nascent buzzword.
  
  p A piece of legistlation at ~12,000 pages, like the Affordable Health Care Act, screams for distributed version control. Distributed version control allows many people to work on interescting pieces of code and not go insane. Codes of law need this too.
              section.cell
  p  <iframe src="http://embed.ted.com/talks/clay_shirky_how_the_internet_will_one_day_transform_government.html" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

  p YSenate's <a href="/trees">Trees</a> and <a href="/colors">Colors</a> naturally complement GitLaw. GitLaw benefits from <a href="/trees">Trees</a> and <a href="/colors">Colors</a> with line item tags on pieces of legistlation with a distinct political color and a 'neighborhood' position. The tag is collaborative and happens as people review other people's commits, branches, comments and vote on 'line items' with primary color voting. Not quite a line item veto, but a line item vote (in color!) will allow a large group of people to negotiate complex pieces of legistlation. It will end the 'take it or leave', 'our way or the highway' type of partisan bickering that paralyzes government. And make it difficult for corrupt insiders and entrenched government interest to 'sneak what they want' into an omnibus bill.



  p
    code git merge republican democrat -strategy (Purple &gt; Red &gt; Blue &gt; Green)
  p 
    code git purge republican -bar(line_item.shade &lt; 0.4)
  p Get it?
  p how about, e.g.: 
    code git merge libertarian putin -strategy(0.5*Blue, 0.5*Green, 2.0*Red)
