extends layout

block content
    section#left_col
      a(href='/people')
        img(src='images/ysenateChoice6.png')
    section#right_col
        footer
          section.css-table
            section.four-column
              section.cell
                p The Generation Y Political Organization.
              section.cell
                p Vote any time, at any place, for any person, for any idea. Change your choice at will.
              section.cell
                p Discover your own dynamic neighborhood political party. Meet new people.
              section.cell
                p Uncover a new generation of leaders, be a leader.
              section.cell
                p Collaborate on policy opinions and craft open source legislation with Git!
              section.cell
                p Say this how you want: 'whysenate',  'ysenate', 'forksenate', 'forksinit' : it's .org inized to lead back to the root idea.
              section.cell
                p 
                  img(src='/images/forkinroad.jpg')
 
    