extends layout

block content
  div.page-header
    h1 Legal.
  .span4
    a(href='/people')
      img(src='images/ysenateChoice6.png', class='choice')   
  .span7
    p Charles Jeffrey Short is wholly and totally responsible for the legal ramifications of YSenate.org, and operates YSenate.org in the United States under 1st Amendment protection.
              section.cell
                p YSenate.org is not a 'non-profit' because a 'non-profit' unlike a 'corporation' is prohibited from political speech.
              section.cell
                p YSenate.org plans to contract with <a href="/binpub">BinPub.com.</a> <a href="/binpub">BinPub</a> (short for BinaryPublic) is a left hand project corresponding to the right hand project YSenate.org. As a left hand project, <a href="/binpub">BinPub</a> aims to be a commercial venture that contractually guarantees the privacy and integrity of online voting through a secure server API and existing by charging a small fee for 'heavy' use. As a right hand project, YSenate aims to be open and free.			  
              section.cell
                p YSenate.org is not currently registered with the Federal Election Commission. If we have to use U.S. dollars to get things done, this is probably a future requirement.
              section.cell
                p The intellectual work product and computer code of YSenate.org is open under a negotiable 'Conditional Force License.' If the force be with you; you accept this work under the MIT license: else if you are a 'for-profit' entity you are conditionally licensed to use this work on the basis of goodwill, but said license is immediately revoked under conditions of corrupted principles or efforts to dominate and control the project concepts to serve the 'profit' motive: else you are not welcome here. Forks and Feedback on Conditional Force License welcome. (I'm concerned the MIT license leaves the project vulnerable to corrupt political insiders and entrenched government interest.)



