extends layout

block content
    section#left_col
      img(src='images/treeNeighbor.jpg')
    section#right_col
          section.css-table
            section.four-column
              section.cell
                p YSenate is designed to minimize confusion and maximize informed opinions. 
              section.cell
                p Balancing objectives of democracies and republics, Ysenate works by organizing people into trees by <a href="/colors">colors</a>, connections, and colocation.
              section.cell
                p Trees are like indexes in the back of a book, but on YSenate.org each person will start with the same frequency. As neighborhoods of people use the information engine to learn, they will easily collaborate and filter people for incrementally increased bandwidth.
                p "We hold these truths to be self-evident, that all men are created equal... ." -Thomas Jefferson.
                p So the YSenate.org tree is balanced. While a phone book is 'unbalanced' because some names are more common than others.
              section.cell
                p The roots of the trees are what connect different groups of people into a larger neighborhood, like 'Ju' connects June and July.
    section
      img(src='images/All_men_are_created_equal.JPG')
    
 
    