extends layout

block content
  div(class='page-header')
    h1 Trees.          

  .span4
    img(src='images/treeNeighbor.jpg')
  .span7
    p.lead YSenate is designed to minimize confusion and maximize informed opinions. 
    p.lead Balancing objectives of democracies and republics, Ysenate works by organizing people into trees by <a href="/colors">colors</a>, connections, and colocation.
    p.lead Trees are like indexes in the back of a book, but on YSenate.org each person will start with the same frequency. As neighborhoods of people use the information engine to learn, they will easily collaborate and filter people for incrementally increased bandwidth.
    p.well  
      em "We hold these truths to be self-evident, that all men are created equal... ." 
        br
        | -Thomas Jefferson.

    p.lead Sod the YSenate.org tree is balanced. While a phone book is 'unbalanced' because some names are more common than others.
    p.lead The roots of the trees are what connect different groups of people into a larger neighborhood, like 'Ju' connects June and July.
    
  p.lead 
    img(src='images/All_men_are_created_equal.JPG', class='img-rounded')
    
