html, body {
  height: 100%;
}
body{
   padding-top: 60px;
}

#wrap {
   width:800px;
}
#left_col {
   float:left;
   width:300px;
   margin: 10 auto;
}
#small_left_col {
   float: left;
   width: 234;

}
#right_col {
   float:right;
   width:300px;
}
#large_right_col {
   float: right;
   width: 500px;
}
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
#selected
{
font: bold
}

#wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push {
  height: 60px;
}

#footer {
   height: 60px;
   background-color: #f5f5f5;
   padding: 20px 0;
}

#footer li {
   display: inline;
   padding: 0 3px;
}

@media(max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
